[data-user-color-scheme], body, main>section {
	background-color: var(--background);
	color: var(--color);
}
aside h3, header h1 {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	letter-spacing: .0125rem;
}
.content, nav.tabs, .carousel div {
	scroll-behavior: smooth;
}
nav::-webkit-scrollbar {
	height: 0;
}
::-webkit-scrollbar-corner {
	background-color: transparent;
	box-shadow: none;
}
::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(var(--color-rgb), .6);
	border-radius: 10px;
}
.material-icons[hidden] {
	display: none;
}
aside, aside nav a, body, main {
	display: flex;
}
body>aside {
	width: 256px;
	flex: 256px;
	order: 1;
}
aside header h3, aside header h6 {
	width: 100%;
	text-overflow: ellipsis;
}
body>.content {
	/* NEW */
	display: flex;
	flex-direction: column;
	/* NEW */
	/* overflow: auto; */
	width: fill-available;
	width: -webkit-fill-available;
	width: -moz-available;
	flex: calc(100% - 256px);
	order: 2;
}
body>aside:not([hidden])+.content {
	margin-left: 256px;
}
main {
	/* NEW */
	flex: 1 0 auto;
	/* min-height: 500px; */
	/* NEW */
	overflow-x: hidden;
}
main>section {
	flex: 60%;
	order: 1;
	max-width: 100%;
}
main>aside {
	max-width: 320px;
	flex: 1 6 320px;
	order: 2;
}
main>aside>h3 {
	display: flex;
	margin-bottom: 0;
	padding-top: 20px;
}
main>aside>h3>.material-icons {
	cursor: pointer;
	margin-left: auto;
	color: rgba(var(--color-rgb), .54);
}
section {
	padding: 18px;
}
section section {
	margin: -18px -18px 0 -18px;
	padding: 18px;
}
body>.content>header, body>header {
	display: flex;
	/* flex: 1 1 auto; */
	flex: 0 0 auto;
	align-items: start;
	flex-wrap: wrap;
	z-index: 4;
	left: 0;
	right: 0;
	top: 0;
	position: sticky;
}
body>.content>header:not(.color):not(.prominent), body>header:not(.color):not(.prominent) {
	background-color: #fff;
	background-color: var(--background, #fff);
}
aside header.color, header.color, header.prominent {
	background-color: var(--theme, #202124);
	color: var(--bcolor, #fff);
}
header button {
	border: 0;
	padding: 0 !important;
	margin: 0 12px;
}
body>aside:not([hidden])+.content>header {
	left: 256px;
}
aside nav a:after, aside nav a:before, button:before {
	content: "";
	top: -50%;
	left: -50%;
}
header.fixed, header.fixed.scrolled header[data-_tabs_scroll], header[data-_tabs_scroll].scrolled {
	transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
}
header.fixed.scrolled, header[data-_tabs_scroll].scrolled, header[data-extended="focus"] {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}
header h1 {
	flex: 1;
	margin: 0;
	font-size: 1.25rem;
	font-weight: 500;
	text-decoration: inherit;
	text-transform: inherit;
	padding-left: 32px;
	padding-right: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	z-index: 1;
	transition: margin-top .15s ease-in-out .15s;
}
header button:not([hidden])+h1 {
	padding-left: 20px;
}
aside header, header.prominent:not(.scrolled) {
	background-image: var(--header);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
header.prominent {
	padding: 16px 4px;
}
aside nav a, button, [type="submit"] {
	padding: 0 8px;
	overflow: hidden;
}
header.prominent h1 {
	margin-top: 72px;
}
aside h3, aside h6 {
	display: block;
	margin-top: 0;
	line-height: normal;
}
aside {
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #fff;
	background-color: var(--aside, #fff);
}
main aside {
	border-left-width: 1px;
	border-left-style: solid;
}
aside {
	overflow-y: auto;
	border-color: var(--border);
	flex-direction: column;
	transition-property: transform, -webkit-transform;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}
aside[hidden] {
	opacity: 0;
}
aside header {
	min-height: 128px;
	position: relative;
	top: 0;
}
aside header h3 {
	position: absolute;
	bottom: 52px;
	font-weight: 700;
	font-size: .875rem;
	padding: 0 16px;
	overflow: hidden;
}
aside header h6 {
	position: absolute;
	bottom: 11px;
	left: 0;
	overflow: hidden;
}
aside header img {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	position: absolute;
	left: 16px;
	top: 16px;
}
aside h3 {
	/*
	font-size: 1.25rem;
	font-weight: 500;
	*/
	text-decoration: inherit;
	text-transform: inherit;
	margin-bottom: -20px;
	flex-shrink: 0;
	padding: 16px 16px 4px;
}
aside h6, aside nav {
	font-weight: 400;
	text-decoration: inherit;
	text-transform: inherit;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
aside h6 {
	font-size: .875rem;
	letter-spacing: .0178571429rem;
	margin-bottom: 0;
	padding: 0 16px;
}
aside>h3 {
	min-height: 64px;
}
aside>h6 {
	color: rgba(var(--color-rgb), .54);
}
aside nav {
	font-size: 1rem;
	letter-spacing: .009375rem;
	line-height: 1.5rem;
	margin: 0;
	padding: 8px 0;
	list-style-type: none;
}
nav.round {
	margin-right: 8px;
}
aside h3+nav {
	margin-top: 16px;
}
aside nav a {
	position: relative;
	align-items: center;
	justify-content: flex-start;
	color: var(--color);
	border-radius: 4px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: .875rem;
	line-height: 1.375rem;
	font-weight: 500;
	letter-spacing: .0071428571rem;
	text-decoration: inherit;
	text-transform: inherit;
	height: 40px;
	margin: 8px;
}
header nav.tabs {
	margin: 16px -4px -16px;
}
a, nav.tabs a {
	text-decoration: none;
}
aside nav a .material-icons {
	color: #666;
	margin-left: 0;
	margin-right: 32px;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	display: inline-flex;
}
aside nav a.active, aside nav a.active .material-icons, button:not(.color):not([disabled]), [type="submit"]:not([disabled]) /* , h2 */ {
	color: var(--theme, var(--color));
}
.carousel > button {
	color: var(--theme, #000) !important;
}
.snackbar > button {
	color: var(--theme, #fff) !important;
}
aside nav a:after, aside nav a:before {
	position: absolute;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
	width: 200%;
	height: 200%;
	background-color: #000;
}
aside nav a:before {
	transition: opacity 15ms linear, background-color 15ms linear;
	z-index: 1;
}
aside nav a:after {
	transition: opacity .15s linear;
}
aside nav a:hover:before {
	opacity: .04;
}
aside nav a.active:after, aside nav a.active:before {
	background-color: var(--theme, var(--color));
}
aside nav a.active:before {
	opacity: .12;
}
aside nav a.active:hover:before {
	opacity: .16;
}
aside nav.round a {
	margin: 0;
	padding-left: 16px;
	border-radius: 0 25px 25px 0;
	height: 48px;
	min-width: 48px;
	width: 100%;
	overflow: hidden;
}
body>.content>footer h4, body>footer h4 {
	color: rgba(var(--color-rgb), .8);
	margin: 0;
}
body>.content>footer hr, body>footer hr {
	margin: 20px 0;
}
body>.content>footer, body>footer {
	flex: 0 0 auto;
	background: rgba(var(--color-rgb), .03);
	margin: 0 auto;
	padding: 20px 16px;
	width: 100%;
}
body>.content>footer ._, body>footer ._, body>.content>footer li, body>footer a {
	padding: 0;
}
body>.content>footer li:hover, body>footer a:hover {
	background: 0;
}
body>.content>footer, body>footer, body>.content>footer a, body>footer a {
	color: rgba(var(--color-rgb), .6);
}
hr {
	height: 0;
	border: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--border);
}
hr+h6 {
	margin-top: 16px;
}
/*
h2 {
	font-weight: 400;
	font-size: .96rem;
	margin-top: 32px;
}
*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6 {
	line-height: 1.2;
	margin: 24px 0 8px 0;
	font-weight: 400;
}
h1, .h1 {
	font-size: 2.5rem;
}
h2, .h2 {
	font-size: 1.5rem;
}
h3, .h3 {
	font-size: 1.375rem;
}
h4, .h4 {
	font-size: 1.25rem;
}
h5, .h5 {
	font-size: 1rem;
	line-height: 1.333;
}
article > div[id]:first-child > h2:first-child, article > h2:first-child {
	margin-top: 0;
}
.card .actions > button.material-icons {
	color: #666;
}
.card .actions > button.material-icons {
	margin-left: auto;
}
.card .actions > button.material-icons ~ button.material-icons {
	margin-left: 0;
}
.card .actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 52px;
	/* padding: 8px; */
	margin: -4px 8px 8px 8px;
	overflow: hidden;
}
.card .actions > button, ul li button {
	margin-bottom: 0;
}
.card.error {
	--color: #fff;
	--color-rgb: 255, 255, 255;
	--aside: var(--error);
}
.card h2 {
	line-height: 2rem;
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: .0125em;
	margin: 1rem 1rem 0 1rem;
	color: var(--color);
}
.card h3 {
	font-size: .875rem;
	line-height: 1.375rem;
	font-weight: 500;
	letter-spacing: .0071428571em;
	color: rgba(var(--color-rgb), .54);
	margin: 0 1rem 1rem 1rem;
}
.card p {
	color: rgba(var(--color-rgb), .54);
	font-size: .875rem;
	letter-spacing: .0178571429em;
	line-height: 1.25rem;
	margin: 0 1rem 8px;
}
.card details[open] {
	border-top: 0;
}
.card summary:hover {
	background: transparent;
}
.card details:not([disabled]) summary:hover:after {
	background: rgba(var(--color-rgb), .08);
	border-radius: 50%;
}
.carousel {
	position: relative;
	margin: 0 -18px;
}
.carousel > div {
	padding: 0 8px;
}
.carousel > div > *:last-child:after {
	right: -18px;
	width: 18px;
}
.carousel > div > svg {
	min-width: 75%;
}
.carousel .card {
	min-width: 180px;
}
.carousel > button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: #fff !important;
}
.carousel > button:not(:hover) {
	opacity: .8;
}
.carousel > button.material-icons {
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.20);
}
.carousel > button.prev {
	left: 10px;
}
.carousel > button.next {
	right: 10px;
}
.snackbar {
	background-color: #333;
	min-width: 344px;
	max-width: 672px;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: #e4e4e4;
	font-size: .875rem;
	line-height: 1.25rem;
	font-weight: 400;
	letter-spacing: .0178571429em;
	text-decoration: inherit;
	text-transform: inherit;
	flex-grow: 1;
	padding: 14px 16px;
	z-index: 100;
	margin: 8px;
	position: fixed;
	bottom: 0;
	left: 0;
	transition: opacity .15s cubic-bezier(0,0,.2,1) 0ms,transform .15s cubic-bezier(0,0,.2,1) 0ms;
}
.snackbar:not([data-open="true"]) {
	transform: scale(0);
	opacity: 0;
	pointer-events: auto;
}
.snackbar[data-open="true"] {
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
}
.snackbar:before {
	display: inline;
	content: attr(data-content);
}
.snackbar button {
	margin: -14px 0;
}
.snackbar button.material-icons {
	color: #e4e4e4 !important;
	min-width: 36px;
	width: 36px;
	height: 36px;
	padding: 9px;
	font-size: 18px;
}
.snackbar button {
	margin-left: auto;
}
.snackbar button ~ button {
	margin-left: 8px;
}
.snackbar button:last-child {
	margin-right: -8px;
}
@media (max-width: 344px), (max-width: 480px) {
	.snackbar {
		min-width: calc(100% - 16px);
	}
}
button.material-icons {
	padding: 12px;
	min-width: 3rem;
	height: 3rem;
	border-radius: 50%;
}
.fab svg[hidden] {
	display: none;
}
.chip:not([hidden]), .fab img:not([hidden]), .fab svg:not([hidden]), .fab.hover:hover [hidden], button:not([hidden]) {
	display: inline-flex;
}
.chip, .fab img, .fab svg, button {
	position: relative;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
	user-select: none;
}
button:not(.color), [type="submit"] {
	background-color: transparent;
}
button.color:not([disabled]), button:not(.color):before {
	background-color: var(--theme, var(--color));
}
button.color {
	padding: 0 16px;
}
button.color:not([disabled]) {
	color: var(--bcolor, #fff);
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .28s cubic-bezier(.4, 0, .2, 1);
}
button .material-icons {
	margin-left: 0;
	margin-right: 8px;
	width: 1.125rem;
	height: 1.125rem;
	font-size: 1.125rem;
	vertical-align: top;
}
button.color .material-icons {
	margin-left: -4px;
	margin-right: 8px;
}
button.color:not([disabled]):focus:before {
	transition-duration: 75ms;
	opacity: .24;
}
button:before {
	position: absolute;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
	width: 200%;
	height: 200%;
	transition: opacity 15ms linear, background-color 15ms linear;
	z-index: 1;
	transform: scale(2.05767);
}
button.color:before {
	background-color: var(--bcolor, #fff);
}
button.color:not([disabled]):focus, button.color:not([disabled]):hover {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}
header button {
	min-width: inherit!important;
	height: inherit!important;
	color: #fff!important;
}
.chip {
	letter-spacing: .0178571429em;
	color: #333;
	border-radius: 1rem;
	background-color: #e0e0e0;
	height: 2rem;
	padding: 0 12px;
	margin: 4px;
	outline: 0;
}
.chip .material-icons, .chip img {
	border-radius: 50%;
	vertical-align: middle;
	outline: 0;
}
.chip img {
	margin: -8px 8px -8px -8px;
	width: 1.5rem;
	height: 1.5rem;
}
.chip .material-icons {
	color: #5d5c5c;
	margin: -4px 4px -4px -4px;
	width: 1.125rem;
	height: 1.125rem;
	font-size: 1.125rem;
}
.chip .material-icons:last-child {
	margin: -4px -4px -4px 4px;
	background: #5d5c5c;
	color: #fff;
	width: .75rem;
	height: .75rem;
	font-size: .75rem;
}
.chip:hover {
	background-color: #d8d8d8;
}
.chip:focus {
	background-color: #c7c7c7;
}
.chip.active {
	color: #000;
	background-color: #c4c4c4;
	padding-left: 30px;
}
.chip.active .material-icons, .chip.active img {
	display: none;
}
.chip:before {
	position: absolute;
	left: 9px;
	clip-path: polygon(85% 15%, 95% 25%, 35% 90%, 5% 60%, 15% 50%, 35% 70%);
	width: 18px;
	height: 18px;
	background: #000;
	transform: scale(0) translateX(-70px);
	transition: transform .3s;
}
.chip.active:before {
	transform: scale(1) translateX(0);
}
label.input, label.select {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	display: inline-flex;
	position: relative;
	align-items: center;
	vertical-align: middle;
	will-change: opacity,transform,color;
	margin: 5px 0;
}
label.input .material-icons:not(.action) {
	left: 1rem;
	right: auto;
}
label.input .material-icons, label.select:after, label.input.menu:after {
	position: absolute;
	color: #666;
}
label.input .material-icons.action, label.input .material-icons + .material-icons, label.select:after, label.input.menu:after {
	right: .8rem;
	left: auto;
}
label.input input, label.input textarea, label.select select {
	color: var(--color);
	caret-color: var(--theme, var(--color));
	background-color: var(--background);
	font-size: 1rem;
	line-height: 1.75rem;
	font-weight: 400;
	letter-spacing: .009375em;
	text-decoration: inherit;
	text-transform: inherit;
	align-self: flex-end;
	width: 100%;
	min-height: 3.5rem;
	padding: 0.0625rem 16px;
	transition: opacity .15s cubic-bezier(.4,0,.2,1);
	outline: 0;
	border: 0.0625rem solid;
	border-color: rgba(var(--color-rgb), .6);
	border-radius: 4px;
	-webkit-appearance: none;
}
label.input input[type="color"] {
	min-width: 64px;
}
label.input input[type="color"]::-webkit-color-swatch {
	border-radius: 50%;
	margin: 9px 0;
}
label.input input:hover, label.input textarea:hover, label.select select:hover {
	border-color: rgba(var(--color-rgb), .87);
}
label.input input ~ span, label.input textarea ~ span, label.select select ~ span {
	color: rgba(var(--color-rgb), .6);
	left: 1rem;
	right: auto;
	top: 1.125rem;
	pointer-events: none;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: .009375em;
	text-decoration: inherit;
	text-transform: inherit;
	position: absolute;
	transform-origin: left top;
	transition: transform .15s cubic-bezier(.4,0,.2,1),color .15s cubic-bezier(.4,0,.2,1);
	line-height: 1.15rem;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: text;
	overflow: hidden;
	will-change: transform;
}
label.input input:focus, label.input textarea:focus, label.select select:focus {
	padding: 0 15px;
	border: 0.125rem solid var(--theme, var(--color));
}
label.input input:focus ~ span, label.input textarea:focus ~ span, label.select select:focus ~ span {
	color: var(--theme, var(--color));
}
label.input .material-icons:not(.action) ~ input:not(:focus) {
	padding-left: 3rem;
}
label.input .material-icons:not(.action) ~ input:focus {
	padding-left: 2.9375rem;
}
label.input .material-icons.action ~ input:not(:focus), label.input .material-icons + .material-icons ~ input:not(:focus), label.select select {
	padding-right: 3rem;
}
label.input .material-icons.action ~ input:focus, label.input .material-icons + .material-icons ~ input:focus, label.select select:focus {
	padding-right: 2.9375rem;
}
label.input .material-icons:not(.action) ~ span {
	left: 3rem;
}
label.input input:focus ~ span, label.input input:not(:placeholder-shown) ~ span, label.input textarea:focus ~ span, label.input textarea:not(:placeholder-shown) ~ span, label.select select ~ span, label.input :-webkit-autofill ~ span, label.select :-webkit-autofill ~ span {
	background-color: var(--background);
	transform: translateY(-130%) scale(.75);
	font-size: 1rem;
	padding: 0 4px;
	margin: 0 -4px;
	border-radius: 4px;
}
label.input .material-icons:not(.action) ~ input:focus ~ span, label.input .material-icons:not(.action) ~ input:not(:placeholder-shown) ~ span, label.input .material-icons:not(.action) ~ textarea:focus ~ span, label.input .material-icons:not(.action) ~ textarea:not(:placeholder-shown) ~ span {
	transform: translateX(-80%) translateY(-130%) scale(.75);
}
label.input [placeholder]::placeholder {
	color: #727272;
}
label.input:not(.extended) [placeholder]:not(:focus)::placeholder {
	opacity: 0;
}
label.input [required] + span:after, label.select [required] + span:after {
	margin-left: 1px;
	content: '*';
}
label.select:after, label.input.menu:after {
	content: 'arrow_drop_down';
	pointer-events: none;
}
label.input [placeholder]:invalid:not(:focus):not(:placeholder-shown):not(:-webkit-autofill) {
	border-color: #b00020;
}
label.input [placeholder]:invalid:not(:focus):not(:placeholder-shown):not(:-webkit-autofill) + span {
	color: #b00020;
}
label.select:after, label.input.menu:after {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
label.input.filled input {
	border-radius: 4px 4px 0 0;
	background-color: rgba(var(--color-rgb), .04);
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	padding-top: 19px;
	padding-bottom: 5px;
}
label.input.filled:not(.min) input:hover {
	background-color: rgba(var(--color-rgb), .08);
}
label.input.filled:not(.min) input:focus {
	background-color: rgba(var(--color-rgb), .16);
}
label.input.filled input + span {
	background-color: transparent;
}
label.input.filled input:focus ~ span, label.input.filled input:not(:placeholder-shown) + span {
	transform: translateY(-50%) scale(.75) !important;
}
label.input.min input {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background: none;
	padding: 4px 0;
	min-height: 0;
}
label.input.min input:not(:focus) {
	border-bottom: 1px solid var(--border);
}
label.range {
	display: inline-block;
}
label.range > input {
	-webkit-appearance: none;
	outline: none;
	position: relative;
	top: 24px;
	display: block;
	margin: 0 0 -36px;
	width: 100%;
	height: 36px;
	background-color: transparent;
	cursor: pointer;
}
label.range > span {
	display: inline-block;
	margin-bottom: 36px;
}
label.range > input::-webkit-slider-runnable-track {
	margin: 17px 0;
	border-radius: 1px;
	width: 100%;
	height: 2px;
	background-color: rgba(var(--theme-rgb, var(--color-rgb)), 0.24);
}
label.range > input::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	border-radius: 50%;
	height: 2px;
	width: 2px;
	background-color: var(--theme, var(--color));
	transform: scale(6, 6);
	transition: box-shadow 0.2s;
}
label.range:hover > input::-webkit-slider-thumb {
	box-shadow: 0 0 0 2px rgba(var(--theme-rgb, var(--color-rgb)), .04);
}
label.range > input:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 2px rgba(var(--theme-rgb, var(--color-rgb)), .12);
}
label.range:hover > input:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 2px rgba(var(--theme-rgb, var(--color-rgb)), .16);
}
label.range > input:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 2px rgba(var(--theme-rgb, var(--color-rgb)), .24);
}
label.range > input:disabled {
	cursor: default;
	opacity: 0.38;
}
label.range > input:disabled + span {
	color: rgba(var(--color-rgb), 0.38);
}
label.range > input:disabled::-webkit-slider-runnable-track {
	background-color: rgba(var(--color-rgb), 0.38);
}
label.range > input:disabled::-webkit-slider-thumb {
	background-color: var(--color);
	transform: scale(4, 4);
}
input::-webkit-calendar-picker-indicator {
	color: #666;
	opacity: 1;
	width: 10px;
	height: 6px;
	padding: 3px;
}
.fab {
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: 1;
}
.fab button, .fab img, .fab svg {
	fill: currentColor;
	float: right;
	clear: both;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
	border-radius: 50%;
	margin: 0 16px 16px 0;
	height: 56px;
	min-width: 56px;
	transition: transform .18s cubic-bezier(0, 0, .2, 1) 90ms, -webkit-transform .18s cubic-bezier(0, 0, .2, 1) 90ms;
}
.fab.hover button:not(:last-child), .fab.hover img:not(:last-child), .fab.hover svg:not(:last-child), .fab.hover .min {
	height: 40px;
	min-width: 40px;
	margin-right: 24px;
}
.fab button:not(.material-icons) {
	border-radius: 24px;
	padding: 0 20px;
	height: 48px;
}
.fab button .material-icons {
	margin-left: -8px;
	margin-right: 12px;
	width: 24px;
	height: 24px;
	font-size: 24px;
}
.fab button:not(:last-child) {
	background-color: var(--bcolor, #fff);
	color: var(--theme, #000) !important;
}
.fab button:last-child {
	background-color: var(--theme, #000);
	color: var(--bcolor, #fff) !important;
}
.fab:hover>[hidden] {
	transform: scale(0);
	animation-name: show;
	animation-fill-mode: forwards;
	animation-duration: .1s;
	transform-origin: bottom center;
	animation-delay: .1s;
}
.fab.hover:hover>[hidden]:nth-last-child(2) {
	animation-delay: 30ms;
}
.fab.hover:hover>[hidden]:nth-last-child(3) {
	animation-delay: 60ms;
}
.fab.hover:hover>[hidden]:nth-last-child(4) {
	animation-delay: .1s;
}
.fab.hover:hover>[hidden]:nth-last-child(5) {
	animation-delay: .13s;
}
.fab.hover:hover>[hidden]:nth-last-child(6) {
	animation-delay: .16s;
}
.fab.hover:hover>[hidden]:nth-last-child(7) {
	animation-delay: .2s;
}
body>aside {
	position: fixed;
	height: 100%;
	z-index: 100;
}
header[data-_tabs_scroll=true] nav:before {
	margin-left: 52px;
	content: '';
}
header.color nav.tabs > * {
	color: var(--bcolor, #fff);
	border-color: var(--bcolor, #fff);
}
header:not(.color) nav.tabs > *:not(.active) {
	color: var(--color);
}
header:not(.color) nav.tabs > *.active, header:not(.color) nav.tabs > *:focus {
	color: var(--theme, var(--color));
	border-color: var(--theme, var(--color));
}
header nav.tabs > *.active, header nav.tabs > *:focus {
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
header nav.tabs > *:not(.active):not(:focus) {
	opacity: .6;
}
.tabs:not(nav)>[id], .tabs:not(nav)>[id]:target~[id]:last-child {
	display: none;
}
.tabs:not(nav)>[id]:last-child, .tabs:not(nav)>[id]:target {
	display: block;
}
pre {
	background: #f1f3f4;
	color: #37474f;
	margin: 0 0 16px -24px;
	padding: 12px 24px;
	white-space: pre-wrap;
	word-break: break-word;
	tab-size: 4;
}
a {
	color: var(--theme, var(--color));
}
body>.content>header a, body>header a {
	color: var(--bcolor);
}
.table {
	background-color: var(--background);
	border-radius: 4px;
	border: 1px solid var(--border);
	display: inline-flex;
	flex-direction: column;
	width: 100%;
}
.table[data-rows]:not([data-page]):not([data-google]) {
	display: none;
}
.table .scroll {
	overflow-x: auto;
}
.table table {
	min-width: 100%;
	table-layout: fixed;
	border: 0;
	white-space: nowrap;
	border-collapse: collapse;
}
.table th {
	line-height: 1.375rem;
	font-weight: 500;
	letter-spacing: .0071428571em;
	text-align: left;
}
.table th, .table td {
	color: rgba(var(--color-rgb), .87);
	padding-right: 16px;
	padding-left: 16px;
	font-size: .875rem;
}
.table thead tr, .table tfoot tr {
	user-select: none;
	height: 56px;
}
.table tfoot tr {
	border-top: 1px solid var(--border);
}
.table tbody tr {
	line-height: 1.25rem;
	font-weight: 400;
	letter-spacing: .0178571429em;
	height: 52px;
	border-top: 1px solid var(--border);
}
.table tbody tr:not([aria-selected="true"]):hover {
	background-color: rgba(var(--color-rgb), .04);
}
.table tbody tr[aria-selected="true"] {
	background-color: rgba(var(--theme-rgb, var(--color-rgb)), .04);
}
.table label.checkbox {
	margin-right: -16px;
	margin-left: -8px;
}
.table header, .table footer {
	height: 56px;
	padding-left: 24px;
	padding-right: 14px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: rgba(var(--color-rgb), .6);
}
.table header {
	border-bottom: 1px solid var(--border);
}
.table header .material-icons {
	padding-right: 26px;
}
.table footer {
	justify-content: flex-end;
	font-size: 12px !important;
	border-top: 1px solid var(--border);
}
.table footer span, .table footer a {
	margin-left: 24px;
}
.table footer a, .table footer label select {
	outline: 0;
	color: inherit;
}
.table footer label {
	display: flex;
	align-items: center;
	justify-content: center;
}
.table footer label select {
	background-color: transparent;
	border: 0;
	margin-left: 5px;
}
.table.sort table th {
	position: relative;
	cursor: pointer;
}
.table.sort table th.sorted:not([data-nosort]):before, .table.sort th:not(.sorted):not([data-nosort]):hover:before {
	position: absolute;
	font-size: 21px;
	font-family: 'Material Icons';
	text-transform: none;
	line-height: normal;
	font-feature-settings: 'liga';
	margin-left: -21px;
	color: rgba(var(--color-rgb), .6);
}
.table.sort th.sorted.icon:not([data-nosort]):before, .table.sort th:not(.sorted).icon:not([data-nosort]):hover:before {
	margin-left: 25px;
}
.table.sort th:not(.sorted):hover:before {
	opacity: .5;
}
.table.sort th.sorted[data-order="-1"]:not([data-nosort]):before, .table.sort th:not(.sorted):not([data-order="-1"]):not([data-nosort]):hover:before {
	content: '\e5db';
}
.table.sort th.sorted[data-order="1"]:not([data-nosort]):before, .table.sort th:not(.sorted):not([data-order="1"]):not([data-nosort]):hover:before {
	content: '\e5d8';
}
header button, header .material-icons {
	color: inherit !important;
}
label.input.extended, label.input.extended input {
	color: rgba(0, 0, 0, 0.54);
}
label.input.extended {
	margin: 0 12px;
}
label.input.extended > span {
	position: absolute;
	color: transparent;
	left: 0;
	top: 0;
}
label.input.extended [type="submit"] {
	display: none;
}
label.input.extended input {
	min-height: 36px;
	margin: -6px 0;
	width: 200px;
	background: #f7f7f7;
	border: 0;
}
label.input.extended input:hover {
	background: #ebebeb;
}
label.input.extended input:focus {
	outline: none;
	width: 500px;
	color: #212121;
}
.menu {
	position: relative;
}
.input.menu {
	z-index: 1;
}
.menu:not(.input) {
	z-index: 2;
}
.menu ul {
	background: var(--aside);
	color: var(--color);
	position: absolute;
	visibility: hidden;
	min-width: 128px;
	max-width: 20vw;
	width: 100%;
	padding: 8px 0 8px 0px;
	z-index: 2;
	transition: all 0.2s ease;
	line-height: 26px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}
.menu ul:not(.submenu) {
	left: 0;
	top: 3em;
	overflow: auto;
	max-height: 220px;
}
.menu[data-layout="left"] .submenu .submenu {
	left: 100%;
}
.menu[data-layout="right"] .submenu .submenu {
	right: 100%;
}
.menu[data-layout="left"] .submenu .submenu:before {
	left: -25px;
}
.menu[data-layout="right"] .submenu .submenu:before {
	left: calc(200% - 25px);
}
.submenu .submenu:before {
	content: 'arrow_right';
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	top: 12px;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	position: absolute;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
.menu .submenu .submenu {
	top: -1px;
}
.submenu.active, label.input.menu input:focus ~ ul, .menu:focus > ul, .menu ul li:hover > .submenu, .menu:focus > .submenu > li > .submenu:before, .menu ul li:hover > .submenu > li > .submenu:before {
	visibility: visible;
}
header .menu ul {
	left: auto;
	right: 0px;
}
.menu ul li {
	padding: 10px 16px;
}
.menu ul a {
	color: var(--color);
	width: 100%;
}
.menu:focus {
	outline: 0;
}
label.input.menu input ~ ul:not(.submenu), .menu:not(.input) ul:not(.submenu) {
	transform: translateY(-3.5rem);
}
header nav.tabs .menu ul {
	display: none;
}
header:not([data-extended="focus"]) label.input.extended input {
	padding-right: 16px !important;
}
header:not([data-extended="focus"]) label.input.extended .material-icons + .material-icons {
	display: none !important;
}
header button[data-badge] {
	padding-right: 10px !important;
	margin-right: 2px;
	padding-top: 14px !important;
	margin-top: -14px;
}
[data-badge]:after {
	content: attr(data-badge);
	transform: scale(1) translate(50%, -50%);
	transform-origin: 100% 0%;
	min-height: 7px;
	padding: 3px;
	min-width: 7px;
	color: #fff;
	background-color: rgb(220, 0, 78);
	display: flex;
	z-index: 1;
	position: absolute;
	flex-wrap: wrap;
	font-size: 0.55rem;
	transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	align-items: center;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 500;
	line-height: 1;
	align-content: center;
	border-radius: 10px;
	flex-direction: row;
	justify-content: center;
	right: .74rem;
	top: 1.15rem;
}
dialog {
	max-height: calc(100% - 32px);
}
dialog::backdrop {
	background-color: rgba(0, 0, 0, .32);
}
dialog[open] {
	display: flex;
}
dialog h2 {
	margin: 0;
	font-weight: 500;
}
dialog footer {
	display: flex;
	position: relative;
	flex-shrink: 0;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	min-height: 52px;
	padding: 8px;
	border-top: 1px solid transparent;
}
ul.avatar-list li {
	height: 56px;
}
ul.avatar-list li i {
	margin-left: 0;
	margin-right: 16px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-flex;
	background-color: rgba(0,0,0,.3);
	color: #fff !important;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	fill: currentColor;
}
dialog.scrolled h2, dialog.scrolled footer {
	border-color: var(--border);
}
.fab .spinner:after {
	height: 48px;
	width: 48px;
}
.fab button:last-child.spinner:after {
	border-top-color: var(--color);
}
@media all and (min-width:1025px) {
	body aside:not([hidden]) ~ .content main section .table {
		width: calc(100vw - 256px - 30px);
	}
	main aside:not([hidden]) ~ section .table {
		width: calc(100vw - 320px - 30px);
	}
	body aside:not([hidden]) ~ .content main aside:not([hidden]) ~ section .table {
		width: calc(100vw - 320px - 256px - 30px);
	}
	body>.content>header:not([data-_tabs_scroll]):not(.prominent), body>header:not([data-_tabs_scroll]):not(.prominent) {
		padding: 20px 4px
	}
	body>.content>header[data-_tabs_scroll]:not(.prominent), body>header[data-_tabs_scroll]:not(.prominent) {
		padding: 16px 4px;
	}
}
@media all and (max-width:1024px) {
	main aside:not([hidden]) ~ section .table {
		width: calc(100vw - 320px - 30px);
	}
	body>.content>header:not(.prominent), body>header:not(.prominent) {
		padding: 16px 4px;
	}
	body>aside:not([hidden])+.content {
		margin-left: 0;
	}
	body>aside:not([hidden])+.content>header {
		left: 0;
	}
	.content:after {
		content: '';
		background: #000;
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		opacity: var(--_co, 0);
		will-change: opacity;
	}
	body>aside:not([data-open]) {
		display: none;
	}
	body[data-modal] .content:after {
		z-index: 10;
	}
	body>aside {
		box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
		width: 320px;
		flex: 320px;
	}
	body>.content {
		flex: 100%;
	}
}
@media all and (max-width:640px) {
	main aside:not([hidden]) ~ section .table {
		width: 100%;
	}
	main {
		flex-direction: column;
	}
	main>aside {
		position: fixed;
		height: 100%;
		z-index: 100;
		box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
		width: 320px;
		flex: 320px;
		right: 0;
		top: 0;
	}
	main>aside:not([data-open]), main>aside>h3 {
		display: none;
	}
	label.input.extended, label.input.extended input {
		background: transparent !important;
	}
	label.input.extended {
		margin: 0;
	}
	header:not([data-extended="focus"]) label.input.extended, header:not([data-extended="focus"]) label.input.extended input {
		color: var(--bcolor) !important;
	}
	header[data-extended="focus"] {
		background-color: var(--background);
		background-image: none !important;
		outline: solid var(--aside) 100vh;
	}
	header[data-extended="focus"] label.input.extended {
		color: rgba(var(--color-rgb), .6) !important;
		margin-bottom: -20px;
	}
	header[data-extended="focus"] label.input.extended input {
		color: rgba(var(--color-rgb), .87) !important;
		padding-top: 4px;
		padding-bottom: 20px;
	}
	header[data-extended="focus"] label.input.extended .material-icons{
		top: 0;
	}
	header:not([data-extended="focus"]) label.input.extended input {
		width: 0px;
		padding: 1px 1.6rem !important;
	}
	header[data-extended="focus"] ~ *, header[data-extended="focus"] > *:not(.extended) {
		display: none !important;
	}
	header[data-extended="focus"] > .extended, header[data-extended="focus"] > .extended input {
		width: 100% !important;
		padding-left: 1rem;
	}
}
@media all and (max-width:376px) {
	aside {
		width: calc(100% - 56px) !important;
		flex: calc(100% - 56px) !important;
	}
}
@media (hover: none) {
	.fab {
		pointer-events: none;
	}
	.fab > * {
		pointer-events: all;
	}
	.menu[data-layout="left"] .submenu .submenu {
		left: 10%;
	}
	.menu[data-layout="right"] .submenu .submenu {
		right: 10%;
	}
	.submenu .submenu:before {
		display: none;
	}
	.menu ul {
		max-width: 80vw;
	}
}
