@media (prefers-color-scheme:light) {
    :root:not([data-user-mode]):not([data-user-color-scheme]) {
		--color-rgb: 0, 0, 0;
        --color: #000;
        --background: #fff;
        --border: #dadce0;
        --aside: #fff;
		--error: #B00020;
        --scheme: 'light';
    }
}
[data-user-color-scheme="light"]:not([data-user-mode]) {
	--color-rgb: 0, 0, 0;
    --color: #000;
    --background: #fff;
    --border: #dadce0;
    --aside: #fff;
	--error: #B00020;
    --scheme: 'light';
}
