@import 'all';
html:not([data-user-mode]) {
	@import '_tablet';
}
@import '_light';
@import '_dark';
html[data-user-mode="tv"] {
	@import '_tv';
}
[data-user-mode="tv"] {
	--color-rgb: 255, 255, 255;
    --color: #fff;
    --background: #202124;
    --border: #3c4043;
	--aside: #1b1c1e;
    --error: #CF6679;
	--scheme: 'dark';
}
[data-user-mode="tv"] .card {
	--aside: #37474f;
}
